* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f2f3f4;
}
header {
    padding-inline: 20px;
    padding-block: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.logo {
    width: 216px;
    height: 71px;
}
footer {
    padding-inline: 20px;
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #1f4872;
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
.horizontal-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-medias {
    gap: 24px
}
nav ul {
    gap: 10px;
    list-style: none;
    width: fit-content;
    margin: auto;
}
.ip-detector {
    padding: 60px;
    display: flex;
    gap: 24px;
    background-color: #1f4872;
    color: white;
}
.ip-detector .left {
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: 100%;
}
.ip-detector .left .top, .ip-detector .left .bottom .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.ip-detector .left .top, .ip-detector .left .bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ip-detector .left .content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.ip-detector .left .title {
    font-size: 17px;
}
.content .ip {
    background-color: #2d587f;
    padding: 12px;
    font-size: 22px;
}
.ip-detector .left .bottom .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
    font-size: 17px;
    background-color: #2d587f;
}
.ip-detector .left .bottom {
    display: flex;
    gap: 56px;
    flex-direction: row;
    align-items: center;
}
.ip-detector .left .bottom .right .button {
    padding-inline: 32px;
    padding-block: 20px;
    font-size: 19px;
    color: white;
    border: none;
    width: max-content;
    background-color: #ff2939;
    cursor: pointer;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}
.card {
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 12px;
    max-width: 390px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.card article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card h3 {
    color: #02b7ed;
    font-size: 24px;
}
.card img {
    width: 140px;
    height: 120px;
}
.card p {
    font-size: 18px;
    color: #333333;
}
.list {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 182px;
}
.concernes {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.container {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.player-container {
    display: inline-block;
    text-align: center;
}
.player-container video {
    width: 100%;
    border-radius: 10px;
}
.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.player-container button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}
.player-container button:hover {
    background-color: #0056b3;
}
.progress-container {
    width: 100%;
    margin-top: 10px;
}
.player-container input[type="range"] {
    width: 100%;
}